<%
var title = '';
var description = '';
var keyword = '';
var ogTitle = '';
var ogType = '';
var ogDescription = '';
var ogURL = '';
var ogImage = '';
var ogSitename = '';
var twitterCard = 'summary';
var twitterSite = '';

function content(){
-%>
			<section class="intro">
				<h2 class="intro__title">東京サンタクル / TOKYO SANTAKURUとは？</h2>
				<div class="intro__img"><img src=""></div>
				<p class="intro__txt">クリスマスにサンタがご家庭に訪問し、子供たちにプレゼントを手渡しするサービスです。</p>
			</section>
			<section class="intro">
				<h2 class="intro__title">プレゼントはご家庭で、事前に用意していただきます。</h2>
				<div class="intro__img"><img src=""></div>
				<p class="intro__txt">当日スタッフがサプライズの前にお伺いし、プレゼントをお預かりします。<br>その後サンタがご家庭にお伺いし、プレゼントを子供達に贈ります。</p>
			</section>
			<section class="intro">
				<h2 class="intro__title">プレゼントはご家庭で、事前に用意していただきます。</h2>
				<div class="intro__img"><img src=""></div>
				<p class="intro__txt">当日スタッフがサプライズの前にお伺いし、プレゼントをお預かりします。<br>その後サンタがご家庭にお伺いし、プレゼントを子供達に贈ります。</p>
			</section>
			<section class="intro">
				<h2 class="intro__title">期間はクリスマスの３日間。サービス提供時間は10分ほど</h2>
				<div class="intro__img"><img src=""></div>
				<p class="intro__txt">クリスマス前後である12月23日〜25日の17:00〜25:00にサービスをご提供させていただいております。<br>
				※ 通常料金＋1000円で営業時間外のお申し込みも承ります。</p>
			</section>
			<section class="intro">
				<h2 class="intro__title">子供たちの日頃の頑張りをサンタが読み上げます</h2>
				<div class="intro__img"><img src=""></div>
				<p class="intro__txt">クリスマスをもっと素敵な日にするために、サンタが子供たちへ日頃の頑張りをお手紙にして読み上げます。<br>
				事前にメッセージ内容を送っていただき、私たちがメッセージを手紙にします。プレゼントとお手紙で嬉しさは頂点に達するでしょう。</p>
			</section>
			<section class="intro">
				<h2 class="intro__title">ご近所様とのお申し込みでお得に</h2>
				<div class="intro__img"><img src=""></div>
				<p class="intro__txt">ご近所様とのお申し込みで、サービス料金を割り引かせていただいております。<br>
				※ 「ご近所様」とは、同一マンション、徒歩３分以内、半径５０ｍ以内の距離等、サンタがソリで移動しやすい距離のことを指します。<br>
				※ 2世帯以上でお申し込みをされた場合、サービス提供の日時および時間帯を別々にすることはできかねますのでご了承ください。
				</p>
			</section>

<%}; -%>
<% include partial/_layout -%>
